/*
 *  Common Elements
 */

body {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial, Sans-Serif;
}

input {
	font-size: 14px;
	width: 230px;
}

button {
	margin: 0px;
	padding: 10px 35px;
	vertical-align: middle;
	cursor: pointer;

	border: 0px;
	border-radius: 4px;
	background: #65a9d7;
	
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}
button:hover {
	background: #28597a;
	color: #ccc;
}

/*
 *  Common selectors
 */

#container {
	margin: 100px auto;
	width: 500px;
	display: block;
}

.errorContainer {
	text-align: center;
	
	width: 450px;
	margin: 10px;
	
	background-color: #ffd56f;
}
.error {
	display: block;
	
	font-size: 12px;
	color: red;
}

.textinput {
	
	margin: 10px;
	width: 450px;
}
.label {
	font-size: 18px;
	width: 100px;
	float: left;
}
.textinput input {
	
}

/*
 * Login Page
 */
 
#login {
	width: 100px;
	margin: 25px 0px 25px 220px;
}


/*
 * Activity
 */

.logout{
	margin: -70px 10px auto auto;
	float: right;
}
.submit{
	width: 340px;
}
.submit button {
	float: right;
}

.results{
	display:inline-block;
	margin: 25px 0px 0px 0px;
	
	font-size: 16px;
}










